h1 {font-family: 'Antic Didone';
		text-align: center;
		font-size: 45px;
}

h3 {font-family: 'Oxygen';
	 font-size: 1.2em
}

body {
	color: black;
	font-family: 'Lato', sans-serif;
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
	background-color: white;
}

img {
   width: 50%;
   max-height: 65%;
}

.p	{
	text-align: justify, 10px;
}


li {
	list-style-type: circle;
	font-family: 'Lato', sans-serif;
}

ul {align-content: center;
	font-family: 'Lato', italic;
}