body {
	color: red;
	font-family: Helvetica;
	font-size: 20px;
	background-image: url('../images/Thomas_Jeffersons_Monticello.jpg');
}

img {
   width: 50%;
}
p	{
	text-align: center;
}

li {
	list-style-type: none;
}